<?xml version="1.0"?>
<config>
    <modules>
        <BT_Custompayment>
            <version>0.1.0</version>
        </BT_Custompayment>
    </modules>
    <frontend>
        <routers>
            <custompayment>
                <use>standard</use>
                <args>
                    <module>BT_Custompayment</module>
                    <frontName>custompayment</frontName>
                </args>
            </custompayment>
        </routers>
        <layout>
            <updates>
                <custompayment>
                    <file>custompayment.xml</file>
                </custompayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<custompayment>
				<use>admin</use>
				<args>
					<module>BT_Custompayment</module>
					<frontName>custompayment</frontName>
				</args>
			</custompayment>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<BT_Custompayment>
							<title>Custompayment Module</title>
							<sort_order>10</sort_order>
						</BT_Custompayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<custompayment>
					<file>custompayment.xml</file>
				</custompayment>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <custompayment>
                <class>BT_Custompayment_Model</class>
                <resourceModel>custompayment_mysql4</resourceModel>
            </custompayment>
            <custompayment_mysql4>
                <class>BT_Custompayment_Model_Mysql4</class>
                <entities>
                    <custompayment>
                        <table>custompayment</table>
                    </custompayment>
                </entities>
            </custompayment_mysql4>
        </models>
        <resources>
            <custompayment_setup>
                <setup>
                    <module>BT_Custompayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custompayment_setup>
            <custompayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custompayment_write>
            <custompayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custompayment_read>
        </resources>
        <blocks>
            <custompayment>
                <class>BT_Custompayment_Block</class>
            </custompayment>
        </blocks>
        <helpers>
            <custompayment>
                <class>BT_Custompayment_Helper</class>
            </custompayment>
        </helpers>
    </global>
    
     <default>
        <payment>
            <custompayment>
                <active>1</active>
                <model>custompayment/custompayment</model>
                <order_status>processing</order_status>
                <title>BT Payment Method</title>
            </custompayment>
         </payment>
    </default>
    
</config>
